body {
  background-color: #eee;
}

header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: white;
  padding: 1rem 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.app-logo {
  height: 2.5rem;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: app-logo-spin infinite 5s linear;
  }
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form-wrapper {
  padding: 2rem 1rem;
  max-width: 550px;
  margin: 75px auto 0;
}

.currency-form {
  border-radius: 12px 12px 0 0;
  background-color: #fff;
  padding: 16px;
}

.form-group {
  margin-bottom: 1rem;
}

.form-label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.form-control {
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 2px solid #282c34;
  font-size: 1rem;
  padding: 0.5rem 0;
  background-color: transparent;
}

.form-control:disabled {
  background-color: #eee;
  cursor: not-allowed;
}

.exchange-rate-block {
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 10px;
}

.btn {
  border: none;
  outline: none;
  background-color: #282c34;
  color: #fff;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 5px;
}

.output {
  font-size: 1.25rem;
  color: #282c34;
}

.loader {
  border: 16px solid #eee;
  margin: 2rem auto;
  border-top: 16px solid #282c34;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#errorComponent {
  position: fixed;
  bottom: 50px;
  width: 250px;
  margin-left: calc(-125px - 1rem);
  left: 50%;
  background-color: #282c34;
  color: #fff;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  visibility: hidden;
}

#errorComponent.toast {
  visibility: visible;
  animation: error-toast-in 0.5s, error-toast-out 0.5s 5s;
}

.error-icon {
  height: 30px;
  padding: 0.5rem;
}

.error-message {
  text-align: center;
}

@keyframes error-toast-in {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 50px;
    opacity: 1;
  }
}

@keyframes error-toast-out {
  from {
    bottom: 50px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
